@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #ff7129;
  --color-secondary: #030726;
  --color-secondary-t: #0307266e;
  --color-background: #ef5808;
}

@layer {
  .overlay {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #000000a9;
      color: #0307266e;
    }
  }

  .glassmorphism {
    color: #fff;
    background: rgba(0, 0, 0, 0.589);
    border-radius: 0.5rem;
    backdrop-filter: blur(0.2rem);
    -webkit-backdrop-filter: blur(0.2rem);
    border: 1px solid rgba(0, 0, 0, 0.31);
  }

  .test {
    border: 1px solid #f00;
  }
}
