---
import Title from '../Title.astro'
import Image from '../Image.astro'
import data from '../../data.json' assert { type: 'json' }

const { title, paragraphs, image } = data.about
---

<article id='about' class='bg-light-dark w-full'>
  <article class='lg:max-w-[1500px] m-auto p-8 prose-lg dark:prose-invert'>
    <article class='flex lg:flex-row-reverse flex-col gap-4 justify-between lg:items-end'>
      <section class='prose-lg'>
        <Title text={title} />
        {paragraphs.map((e) => <p class='prose dark:prose-invert'>{e}</p>)}
      </section>

      <Image src={image.src} alt={image.alt} />
    </article>
  </article>
</article>
