---
import Title from '../Title.astro'
import data from '../../data.json' assert { type: 'json' }
import Image from '../Image.astro'

const { title, paragraphs, image } = data.ourMission
---

<article id='our-mission' class='w-full'>
  <article class='max-w-[1500px] m-auto p-8 flex flex-col lg:flex-row-reverse lg:justify-between lg:items-end gap-8'>
    <section class='prose-lg lg:flex flex-col justify-center'>
      <Title text={title} />
      {paragraphs.map((e) => <p class='prose dark:prose-invert'>{e}</p>)}
    </section>

    <Image src={image.src} alt={image.alt} />
  </article>
</article>
