---
import Layout from '../layouts/Layout.astro'
import Header from '../components/layout/Header.astro'
import ContactUs from '../components/layout/ContactUs.astro'
import AboutUs from '../components/layout/AboutUs.astro'
import OurMission from '../components/layout/OurMission.astro'
import WhatWeOffer from '../components/layout/WhatWeOffer.astro'

import Testimonials from '../components/layout/Testimonials.astro'
import ProcessDescription from '../components/layout/ProcessDescription.astro'
---

<Layout>
  <Header />

  <main class='flex flex-col'>
    <OurMission />
    <AboutUs />
    <WhatWeOffer />
    <Testimonials />
    <ProcessDescription />
  </main>
</Layout>
<footer>
  <ContactUs />
</footer>
