---
import Layout from '../layouts/Layout.astro'
import data from '../data.json' assert { type: 'json' }
import Header from '../components/Header.astro'

const { training } = data
const about = data.about
---

<Layout>
  <Header />

  <main class='max-w-[1500px] m-auto flex flex-col gap-8 p-8'>
    <article id='about' class='prose-lg dark:prose-invert'>
      <h2>About</h2>
      <section>
        {about.map((e) => <p>{e}</p>)}
      </section>
    </article>
    <article id='training' class='prose-lg dark:prose-invert'>
      <h2>Training</h2>
      <p>
        The training provided to future talents is a comprehensive and strategic process aimed at enhancing their capabilities, preparing them to face the challenges of the professional environment
        and fostering their personal development.
      </p>
      <article class='no-prose'>
        {
          training.map((e) => (
            <details class='mb-4'>
              <summary>{e.title}</summary>
              <p>{e.description}</p>
              {e.list && e.list.length > 0 && (
                <ul>
                  {e.list.map((item) => (
                    <li>{item}</li>
                  ))}
                </ul>
              )}
            </details>
          ))
        }
      </article>
      <p>The training of new talents not only seeks to transmit knowledge, but also to form people of integrity, prepared to contribute value in any field with vision, passion and purpose.</p>
    </article>
  </main>
</Layout>

<style>
  h2 {
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Basicaline', sans-serif;

    font-size: 2.5rem;
    text-align: center;
  }

  @font-face {
    font-family: 'Basicaline';
    src: url('/fonts/Basicaline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
