---
import Layout from '../layouts/Layout.astro'
import Header from '../components/layout/Header.astro'
import ContactUs from '../components/layout/ContactUs.astro'
import AboutUs from '../components/layout/AboutUs.astro'
import OurMission from '../components/layout/OurMission.astro'
import WhatWeOffer from '../components/layout/WhatWeOffer.astro'
---

<Layout>
  <Header />

  <main class='flex flex-col'>
    <OurMission />
    <AboutUs />
    <WhatWeOffer />
    <ContactUs />
  </main>
</Layout>
<footer>
  <section>
    <h3>Attribute</h3>
    <a href='https://storyset.com/business' target='_blank'>Business illustrations by Storyset</a>
  </section>
</footer>
