---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <h1>Future Star</h1>
</Layout>

<style>
  h1 {
    font-family: 'Basicaline', sans-serif;
    font-size: 3rem;
  }

  @font-face {
    font-family: 'Basicaline';
    src: url('/fonts/Basicaline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
