---
interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<details class='bg-light-dark rounded-lg p-2 shadow max-w-145'>
  <summary class='font-basicaline text-xl cursor-pointer hover:text-primary'>{title}.</summary>
  <p class='px-5 pt-2 prose dark:prose-invert text-sm'>{description}</p>
</details>
