---
interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<details>
  <summary class='font-bold'>{title}.</summary>
  <p class='px-5'>{description}</p>
</details>
