---
interface Contact_Info {
  title: string
  text: string
}

const { title, text } = Astro.props as Contact_Info
---

<section class='not-prose flex flex-col gap-2 text-white'>
  <div class='flex items-center gap-4'>
    <slot name='icon' />
    <p class='font-basicaline text-xl'>{title}</p>
  </div>
  <p class='px-8 text-[1rem] text-gray-400'>{text}</p>
</section>
