---
import data from '../data.json' assert { type: 'json' }
import NavLink from './NavLink.astro'
const { title, description } = data.header
---

<header class='h-[100dvh] w-full p-8 overlay'>
  <nav class='flex justify-between mb-4 relative max-w-[1500px] m-auto'>
    <a href='#' class='text-2xl'>Logo</a>
    <section class='flex gap-4 items-center'>
      <NavLink href='#' text='Home' />
      <NavLink href='#about' text='About' />
      <NavLink href='#training' text='Training' />
    </section>
  </nav>
  <main class='max-w-[1500px] flex flex-col gap-30 m-auto items-center justify-center h-3/4'>
    <article class='relative flex items-center justify-center'>
      <section class='prose dark:prose-invert text-center'>
        <h1 class='text-5xl'>{title}</h1>
        <p class='text-xl text-gray-500 dark:text-gray-300'>{description}</p>
      </section>
    </article>
  </main>
</header>

<style>
  header {
    background-image: url('https://images.hdqwalls.com/wallpapers/mountains-moon-trees-minimalism-hd.jpg');
    background-size: cover;
    background-position: center;
  }
  h1 {
    font-family: 'Basicaline', sans-serif;
  }

  @font-face {
    font-family: 'Basicaline';
    src: url('/fonts/Basicaline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
