---
interface Props {
  text: string
  theClass?: string
}
const { text, theClass = '' } = Astro.props
---

<h2 class={`font-bold font-basicaline text-4xl relative tracking-wider after:content-[""] after:block after:absolute after:w-15 after:h-1 after:bg-primary after:rounded-2xl ${theClass}`}>
  {text}
</h2>
