---
import '../styles/global.css'
import '../styles/base.css'
import '@fontsource-variable/montserrat'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />

    <title>Midas Touch</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  h1 {
    font-family: 'Basicaline', sans-serif;
    color: #d00;
  }

  @font-face {
    font-family: 'Basicaline';
    src: url('/fonts/Basicaline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
